.faq-wrapper {
    img {

    }
}

@media screen and (max-width: 760px) {
    .faq-wrapper {
        flex-wrap: wrap;
        img {
            margin: 0 auto !important;
        }
        p {
            margin: 1rem 0 0 0 !important;
        }
    }
}
  